
html,
body,
#container {
    height: 100%;
    width: 100%;
}

.amap-icon img {
    width: 25px;
    height: 34px;
}

.amap-marker-label {
    border: 0;
    background-color: transparent;
}

.info {
    position: relative;
    top: 0;
    right: 0;
    min-width: 0;
}

.content {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    color: #FFFFFF;
    font-style:normal;
    text-align: center;
	background:#4876FF; 
	font-size: 22px;
	line-height: 100px;
	transform: scale(0.30);
}

.btn
{
    width:"50px";
	
}

#map-styles .input-item {
    height: 2rem;
  }

  #map-styles .input-item span{
    display: inline-block;
    width: 4rem;
  }

  #map-styles .input-item .input-text {
    color: #0288d1;
    margin-left: 1rem;
    margin-right: 0rem;
    width: 6rem;
  }

  .wrap {
    width: 400px;
    display: flex;
    flex-wrap:wrap ;
}